@using DashboardData.Models
@using DashboardData.Services
@page "/dashboard"
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject ISensorService SensorService
@inject NavigationManager NavManager



<button class="btn btn-secondary mb-3" @onclick="LoadAll">Toutes les sondes</button>
<button class="btn btn-danger mb-3" @onclick="LoadCritical">Alertes (> 30.0)</button>
<a href="/edit-sensor" class="btn btn-success mb-3">+ Nouveau Capteur</a>

@if (Sensors == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sensor</th>
                <th>Location</th>
                <th>Current Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sensor in Sensors)
            {
                <tr>
                    <td>@sensor.Name</td>
                    <td>@(sensor.Location?.Name ?? "Undefined")</td>
                    <td>@sensor.Value</td>
                    <td>
                        
                        <a href="/edit-sensor/@sensor.Id" class="btn btn-sm btn-outline-primary">Éditer</a>
                        <button class="btn btn-sm btn-outline-danger" @onclick="() => DeleteSensor(sensor.Id)">Supprimer</button>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<SensorData> Sensors;

    private int TotalSensors;
    private double Average;
    private double MaxValue ;

    protected override async Task OnInitializedAsync()
    {
        await LoadAll();
    }

    private async Task LoadAll()
    {
        Sensors = await SensorService.GetSensorsAsync();
        TotalSensors = await SensorService.GetTotalCountAsync();
        Average = await SensorService.GetAverageValueAsync();
        MaxValue = await SensorService.GetMaxValueAsync();
    }

    private async Task LoadCritical()
    {
        Sensors = await SensorService.GetCriticalSensorsAsync(30.0);
    }

    private async Task DeleteSensor(int id)
    {
        await SensorService.DeleteSensorAsync(id);
        await LoadAll();
    }
}